[Unit]
Description=Ancilla 3D print management

[Service]
Environment=PATH=/home/pi/.pyenv/versions/3.7.4/bin:$PATH
ExecStart=/home/pi/ancilla/run.py
User=pi
Restart=on-failure
Type=simple
