altgraph==0.16.1
aniso8601==8.0.0
arrow==0.15.2
binaryornot==0.4.4
biplist==1.0.3
briefcase==0.2.10
certifi==2019.9.11
chardet==3.0.4
Click==7.0
dmgbuild==1.3.2
docutils==0.15.2
ds-store==1.1.2
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
future==0.17.1
idna==2.8
ifaddr==0.1.6
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
mac-alias==2.0.7
macholib==1.11
MarkupSafe==1.1.1
peewee==3.1.0
peewee-validates==1.0.7
poyo==0.5.0
pyserial==3.4
pyserial-asyncio==0.4
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
rubicon-objc==0.3.1
six==1.12.0
toga==0.3.0.dev14
toga-cocoa==0.3.0.dev14
toga-core==0.3.0.dev14
travertino==0.1.2
urllib3==1.23
voc==0.1.6
Werkzeug==0.16.0
whichcraft==0.6.1
zeroconf==0.23.0
